<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create new hospital</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
</head>

<body class="bg-gradient-primary">
    <div class="container" style="width: 728px;">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row ">
                    <div class="col-lg-5 d-none d-lg-block"></div>
                    <div class="col-lg-7 ">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create new representation</h1>
                            </div>
                            <form action="" method="POST">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="fullName" id="fullName" name="fullName" class="form-control" placeholder="Enter full name" />
                                </div>
                                <div class="form-group">
                                    <label for="Age">Age</label>
                                    <input type="Age" id="Age" name="Age" class="form-control" placeholder="Enter age" />
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="address" id="address" name="address" class="form-control" placeholder="Enter address" />
                                </div>
                                <div class="form-group">
                                    <label for="Gender">Gender</label>
                                    <input type="Gender" id="Gender" name="Gender" class="form-control" placeholder="Enter gender" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" />
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="phone" id="phone" name="phone" class="form-control" placeholder="Enter phone" />
                                </div>
                                <div class="form-group">
                                    <label for="hospital">Hospital</label>
                                    <input type="hospital" id="hospital" name="hospital" class="form-control" placeholder="Enter hospital" />
                                </div>
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <input type="position" id="position" name="position" class="form-control" placeholder="Enter position" />
                                </div>
                                <div class="form-group">
                                    <input id="create-btn" class="btn btn-primary btn-user  btn-create" type="submit" value="Create new representation">
                                </div>
                                <div class="form-group">
                                    <a href="/admin" class="btn btn-primary btn-user btn-return">Return</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('layouts/script'); -%>
</body>

</html>